body {
    margin: 20px;
    font-family: Garamond, Tahoma, sans-serif;
}

.img-terence{
    width:150px;
}

.card{
    width: 400px;
    margin:0 auto;
    padding:20px;
    display: flex;
    justify-content: space-around;

    border-bottom: 5px solid #606c38;
    background: red;
    color: #283618;

    box-shadow: 5px 10px #888888
}

.text{
    padding: 20px;
    text-align: center;
}


.card:hover{
    background: #dda15e;
    font-size: 18px;
    
}